<div class="boxy">
  <h3 style="font-size: 1.2em;">Popular Posts</h3>
  <div>
    <ul>
      <li><a href="{{ site.url }}/blog/secure-by-design-challenges-checkpoints/">Secure by Design - Challenges & Checkpoints</a></li>
      <li><a href="{{ site.url }}/blog/how-to-make-your-dreams-come-true/">How to make your dreams come true</a></li>
      <li><a href="{{ site.url }}/blog/choosing-databases/">Choosing Databases</a></li>
      <li><a href="{{ site.url }}/blog/making-a-success-of-your-life/">Making a success of your life</a></li>
        <li><a href="{{ site.url }}/projects/microservices-2pc-vs-saga/">Microservices - 2PC vs Saga</a></li>
    </ul>
  </div>
</div>
